[submodule "entry/src/main/cpp/openvpn3"]
	path = entry/src/main/cpp/openvpn3
	url = https://github.com/OpenVPN/openvpn3.git
[submodule "entry/src/main/cpp/fmt"]
	path = entry/src/main/cpp/fmt
	url = https://github.com/fmtlib/fmt.git
